<h1>Word Counter </h1>

<form action="/word" method="post">
  <label for="inputSentence">Add a new sentence</label>
  <input id="inputSentence" name="inputSentence" type="text">
  <label for="inputWord">Add a new word</label>
  <input id="inputWord" name="inputWord" type="text">
  <button type="submit">Submit</button>
</form>
