<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>To Do List</title>
  </head>
  <body>
    <h1>Word Counter /h1>
    <form action="/words" method="post">
      <label for="description">Add a new sentence</label>
      <input id="description" name="description" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
